{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Book List</h1>
</section>

<section class="card-container">
  {% for book in books %}
    <div class="card">
      <a href="/books/{{ book.id }}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src= {{ book.image }}
            class="profile-pic"
            alt="Power"
          />
        </div>
      </a>
        <h2 class="card-title">{{ book.name }}</h2>
         <p>Price: ${{ book.price }}</p>
         <p><small>{{ book.description }}</small></p>
         <p>Quantity available: {{ book.quantity }}</p>
         <form action="/add-to-cart" class="d-inline">
          <input type="hidden" name="book_id" value={{book.id}} />
         <button type="submit"><a href="{% url 'add_to_cart' book.id %}">Add to Cart</a></button>
         </form>
    </div>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}