{% extends 'base.html' %} 
{% block content %}
<h1>About Book Collector</h1>
<hr />
<p class="page-content">
  
A book collector app is designed for avid readers and collectors to efficiently catalog and manage their personal libraries. Users can easily add books by scanning barcodes or searching by title and author, creating a comprehensive digital collection. The app allows users to categorize books by genre, track reading progress, and add personal notes or reviews. Advanced features may include wish lists, lending management, and the ability to export the collection for insurance or sharing purposes. It's an ideal tool for organizing large collections and keeping track of every book in one's possession.
</p>
{% endblock %}